# detectron2 @ git+https://github.com/facebookresearch/detectron2.git@d1e04565d3bec8719335b88be9e9b961bf3ec464
faiss-cpu==1.7.4
pypdf==3.16.2
langchainhub==0.1.20
pinecone==4.0.0
langchain-pinecone==0.1.3